# IDE
.vscode

# Misc
.history

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Artefact
build
dist

# Tests
coverage
newman

# Terraform
.terraform
.terragrunt-cache