# IDE
.vscode

# Dependencies
node_modules
yarn-error.log

# Bundled Code
lib
dist

# Code Coverage
coverage

# Misc
.DS_Store

# Environment
.env
.node-version

# Docs
generated-docs

# Terraform
.terraform
.terragrunt-cache
*.tfplan