# IDE
.vscode

# Dependencies
node_modules
yarn-error.log

# Artefacts
dist
release

# Code Coverage
coverage

# Misc
.DS_Store

# Environment
.env
.node-version

# Docs
generated-docs

# Terraform
.terraform
.terragrunt-cache
*.tfplan
*.tfstate*

# Test Reports
newman

# Code Analysis
.scannerwork