# IDE
.vscode

# Dependencies
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Artefacts
dist
release
*.zip

# Code Coverage
coverage

# Misc
.DS_Store
.history

# Environment
.env
.node-version

# Docs
generated-docs

# Terraform
.terraform
.terragrunt-cache
*.tfplan
*.tfstate*
.terraform.lock.hcl

# Test Reports
newman

# Code Analysis
.scannerwork

# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json